[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"delegator.py" = "*"
click = "*"

[dev-packages]
"flake8" = "*"
bpython = "*"

[requires]
python_version = "3.6"
